@charset "UTF-8";

@font-face {font-family: OutfitEB; src: url('SRC/Outfit/Outfit-ExtraBold.ttf');}
@font-face {font-family: OutfitB; src: url('SRC/Outfit/Outfit-Bold.ttf');}
@font-face {font-family: OutfitL; src: url('SRC/Outfit/Outfit-Light.ttf');}

body {
    margin: 0;
}
a {
    text-decoration: none;
}


/* Navigation Bar Styles */

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(231, 231, 231, 0.9);
    height: 70px;
    justify-content: space-between;
}
.logo {
    margin-left: 60px;
    padding: 12px;
}
.button1 {
    display: block;
    height: 35px;
    width: auto;
    border: none;
    
    margin-top: 17px;
    margin-left: -25px;
    font-family: 'OutfitEB';
    font-size: 20px;
    font-weight: 800;
    background-color: transparent;
}
.button1:hover {
    border-bottom: 3px solid #FF6D28;
    color: #FF6D28;
    cursor: pointer;
}
.button1:last-of-type {
    margin-right: 60px;
}

/* Main Image */

.mainimage {
    width: 100%;
    display: block;
    margin-top: 70px;
}

/* Login Prompt Message Styles */

.login {
    display: flex;
    position: fixed;
    width: 100%;
    right: 80px;
    top: 70px;
    background-color: transparent;
    height: 40px;
    justify-content: flex-end;
}
.button2 {
    height: 26px;
    width: 70px;
    margin-top: 7px;
    border: none;
    background-color: #e9e9e9;
    font-family: 'OutfitL';
}
.button2:hover {
    background-color: #4700D8;
    color: #FFFFFF;
    cursor: pointer;
}


/* NavBar and Login Prompt Button Setting */
.buttonset1 { display: flex; }


/* Footer Styles */

.fixedfooter {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    background-color: #c2c2c2;
    text-align: center;
    height: 60px;
}
.nonfixedfooter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #c2c2c2;
    text-align: center;
    height: 60px;
}
.socials {
    height: 35px;
    margin-top: 12px;
    margin-right: 20px;
    cursor: pointer;
}
.copyright {
    font-family: 'OutfitL';
    font-size: 13px;
    padding: 11px 20px;
}


.chat {
    width: 300px;
    height: 400px;
    position: fixed;
    bottom: 40px;
    margin-left: 60px;
    border-radius: 10px;
    background-color: #535353;
    display: block;
}

.chatbox {
    cursor: pointer;
    width: 300px;
    padding: 5px 40px;
    background-color: #FF6D28;
    border: none;
    text-align: left;
    border-radius: 10px 10px 0 0;
    margin-left: 60px;
    font-family: 'OutfitL';
    font-size: 16px;
    color: #FFFFFF;
    bottom: 0;
    position: fixed;
}



/* Reomve Focus Outline for Input Boxes */
input:focus {
    outline-color: #686868;
    outline-style:groove;
}