@charset "UTF-8";

form {
    display: block;
    margin: 160px 300px;
}


.formmain {
    margin-top: 60px;
    font-family: 'OutfitSB';
    font-size: 20px;
    text-indent: 20px;
}
.formitems {
    display: flex;
    justify-content: space-between;
}


.routeitem {
    background-color: #27241D;
    display: block;
    width: 280px;
    padding: 5px 5px;
    padding-bottom: 20px;
    border-radius: 12px;
    text-align: center;
    border: none;
}
.routeitem:hover {
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0 0 10px #423D33;
}
.routeitem input {
    height: 20px;
    width: 20px;
}
.routenum {
    font-family: 'OutfitB';
    font-size: 18px;
}
.routeitem img {
    width: 240px;
    border-radius: 8px;
}
.routedesc {
    font-family: 'OutfitR';
    line-height: 22px;
}


.boattypes {
    background-color: #27241D;
    display: flex;
    width: 200px;
    padding: 12px;
    border-radius: 12px;
}
.boattypes:hover {
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0 0 10px #423D33;
}
.boattypes img {
    width: 70px;
    margin-right: 16px;
}
.boattypes input {
    width: 16px;
    height: 16px;
    margin-top: 21px;
    margin-left: 20px;
}


.seatcount, .enterdate {
    width: 100%;
}
.seatcount input {
    background-color: #27241D;
    width: 99.5%;
    height: 32px;
    text-indent: 10px;
    font-family: 'OutfitR';
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
}
.seatcount input:hover, .enterdate input:hover {
    transition: 0.2s;
    box-shadow: 0 0 10px #423D33;
}


.enterdate input {
    background-color: #27241D;
    width: 96%;
    height: 32px;
    text-indent: 6px;
    font-family: 'OutfitR';
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
}

.formitems button {
    width: 240px;
    border: none;
    border-radius: 8px;
    font-family: 'OutfitB';
    font-size: 16px;
    background-color: #52606D;
    color: #FFFFFF;
}
.formitems button:hover {
    background-color: #303F9F;
    cursor: pointer;
}

.terms {
    display: block;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
    font-family: 'OutfitR';
    font-size: 18px;
}


.buttonset {
    text-align: center;
}
.calc, .disc {
    font-family: 'OutfitB';
    font-size: 18px;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}
.calc {
    background-color: #00897B;
    color: #FFFFFF;
}
.calc:hover {
    background-color: #005249;
    cursor: pointer;
    }
.disc {
    background-color: #7445C4;
    color: #FFFFFF;
}
.disc:hover {
    background-color: #46277C;
    cursor: pointer;
}



#price {
    display: block;
    margin: 30px auto;
    width: 300px;
    height: 60px;
    border: 2px dashed #FFBB33;
    border-radius: 16px;
    /* Horizontal, Vertical Text Align */
    /* Font Size & Font Family */
}



.submitbutton {
    display: block;
    margin: auto;
    margin-bottom: -50px;
    font-family: 'OutfitEB';
    font-size: 20px;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 12px;
    background-color: #CC8800;
    color: #FFFFFF;
}
.submitbutton:hover {
    background-color: #8F5F00;
    cursor: pointer;
}