@charset "UTF-8";

/* Custom Fonts */
@font-face {font-family: OutfitEB; src: url('SRC/Outfit/Outfit-ExtraBold.ttf');}
@font-face {font-family: OutfitSB; src: url('SRC/Outfit/Outfit-SemiBold.ttf');}
@font-face {font-family: OutfitB; src: url('SRC/Outfit/Outfit-Bold.ttf');}
@font-face {font-family: OutfitR; src: url('SRC/Outfit/Outfit-Regular.ttf');}
@font-face {font-family: OutfitL; src: url('SRC/Outfit/Outfit-Light.ttf');}
@font-face {font-family: OutfitEL; src: url('SRC/Outfit/Outfit-ExtraLight.ttf');}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator {
  margin-right: 12px;
  border-radius: 4px;
  background-color: #CBD2D9;
}

/* Reomve Focus Outline for Input Boxes */
input:focus {
    outline-color: #504A40;
    outline-style: groove;
}



body {
    margin: 0;
    background-image: url("SRC/patternpad.svg");
/*    background-color: #121212;*/
    color: #FFFFFF;
}
a {
    text-decoration: none;
}


/* Navigation Bar Styles */

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(39, 36, 29, 0.9);
    height: 70px;
    justify-content: space-between;
}
.navbar img {
    margin-left: 100px;
    padding: 8px;
    cursor: pointer;
}
.buttonset1 button {
    display: block;
    height: 35px; 
    width: auto;
    border: none;
    margin-top: 17px;
    margin-left: -25px;
    margin-right: 70px;
    font-family: 'OutfitEB';
    font-size: 20px;
    font-weight: 800;
    color: #FFFFFF;
    background-color: transparent;
}
.buttonset1 button:hover {
    border-bottom: 3px solid #FF6D28;
    color: #FF6D28;
    cursor: pointer;
}
.buttonset1 img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: -5px;
}
.buttonset1 img:hover {
    opacity: 0.7;
    transition: 0.2s;
}
.buttonset1 {
    margin-right: 100px;
}



/* Login Prompt Message Styles */

.login {
    display: flex;
    position: fixed;
    width: 100%;
    right: 140px;
    top: 70px;
    background-color: transparent;
    height: 40px;
    justify-content: flex-end;
}
.login button {
    height: 26px;
    width: 70px;
    margin-top: 7px;
    border: none;
    background-color: #A39E93;
    font-family: 'OutfitR';
}
.login button:hover {
    background-color: #303F9F;
    color: #FFFFFF;
    cursor: pointer;
}



/* NavBar and Login Prompt Button Setting */
.buttonset1 { display: flex; }




/* Main Image */

.mainimage {
    width: 100%;
    display: block;
    margin-top: 70px;
}








.description {
    padding: 0 60px;
    font-family: 'OutfitL';
    font-size: 26px;
    text-align: center;
}
.description span {
    font-family: 'OutfitL';
    font-size: 42px;
}





.contactus {
    display: block;
    position: fixed;
    width: 86px;
    height: 46px;
    right: 145px;
    bottom: 12px;
    font-family: 'OutfitEB';
    font-size: 15px;
    line-height: 14px;
    border: none;
    border-radius: 16px;
    background-color: #FFE380;
}
.contactus:hover {
    background-color: #FFAB00;
    cursor: pointer;
    transition: 0.2s;
}


/* Footer Styles */

/*    position: fixed; bottom: 0;*/

footer {
    display: inline-block;
    width: 100%;
    background-color: #27241D;
    text-align: center;
}

.topfooter {
    display: flex;
    justify-content: space-between;
    background-color: #423D33;
    height: 100px;
    padding: 20px;
}
.devider {
    background-color: #c5c5c5;
    width: 1px;
}


.bottomnavbar {
    margin-left: 100px;
    margin-top: -10px;
    margin-right: 10px;
}
.bottomnavbar button {
    display: block;
    width: 100px;
    text-align: center;
    margin-top: 8px;
    font-family: 'OutfitR';
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
}
.bottomnavbar button:hover {
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
}


.payoptions {
    margin-top: -20px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'OutfitR';
    font-size: 16px;
}
.payments {
    margin-top: -5px;
    display: inline-block;
    width: 280px;
}
.payments img {
    width: 45px;
    margin: 2px 5px;
    cursor: pointer;
    border-radius: 6px;
}


.contacts {
    margin-top: -18px;
    font-family: 'OutfitL';
    font-size: 14px;
    line-height: 24px;
}
.contacts p {
    font-family: 'OutfitR';
    font-size: 16px;
    margin-bottom: 4px;
}


.footerdesc {
    display: block;
    width: 400px;
    font-family: 'OutfitL';
    font-size: 14px;
    margin-top: 4px;
}


.socialscontainer {
    display: inline-block;
    margin-right: 100px;
    width: 100px;
}
.socialscontainer img {
    height: 35px;
    margin: 5px;
    cursor: pointer;
}

.qr {
    display: block;
    width: 60px;
    height: 60px;
    margin-left: -120px;
    margin-right: 142px;
    margin-top: 10px;
    cursor: pointer;
}

.copyright {
    font-family: 'OutfitL';
    font-size: 13px;
    text-align: center;
    color: white;
    bottom: 0;
}
