@charset "UTF-8";

.loginbox {
    display: block;
    height: 470px;
    width: 400px;
    background-color: #282828;
    margin: 120px auto;
    border-radius: 10px;
}
.login1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #EBEBEB;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 24px;
}
.detail1 {
    display: block;
    color: #D6D6D6;
    font-family: sans-serif;
    text-indent: 40px;
    font-size: 14px;
    font-weight: 600;
}
.detail2 {
    display: block;
    width: 340px;
    height: 40px;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 20px;
    background-color: #141414;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 18px;
}
.detail2:hover {
    background-color: #0A0A0A;
}
.forgotpw {
    display: block;
    margin-top: -10px;
    color:#D6D6D6;
    font-family: sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
}
.forgotpw:visited {
    color:#D6D6D6;
}
.loginbutton {
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 800;
    background-color: #B0E090;
    color: #244012;
}
.loginbutton:hover {
    background-color: #ABCCD8;
    color: #1A3038;
    box-shadow: 0 0 12px #3A6C7E;
    cursor: pointer;
    transition: 0.3s;
}
.logregister1 {
    display: block;
    color:#D6D6D6;
    font-family: sans-serif;
    text-align: center;
    margin-top: 60px;
    font-size: 14px;
}
.logregister2 {
    color:#F5F5F5;
    text-decoration: underline;
}
.logregister2:visited {
    color:#F5F5F5;
}