@charset "UTF-8";

.loginbox {
    display: block;
    height: 500px;
    width: 400px;
    background-color: rgb(231, 231, 231);
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0; 
    margin: auto;
    border-radius: 10px;
}

.back {
    font-family: 'OutfitEB';
    font-size: 16px;
    width: 28px;
    height: 28px;
    margin: 10px;
    border-radius: 50%;
    border: none;
    background-color: rgb(250, 138, 138);
    color: #FFFFFF;
}
.back:hover {
    background-color: rgb(255, 54, 54);
}
.login1 {
    text-align: center;
    font-family: 'OutfitEB';
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 40px;
}
.detail1 {
    display: block;
    font-family: 'OutfitB';
    text-indent: 40px;
    font-size: 14px;
    font-weight: 600;
}
.detail2 {
    display: block;
    width: 340px;
    height: 40px;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 18px;
}
.forgotpw {
    display: block;
    margin-top: -10px;
    color: #000000;
    font-family: sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
}
.forgotpw:visited {
    color:#000000;
}
.loginbutton {
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 800;
    background-color: #FF6D28;
    color: #FFFFFF;
}
.loginbutton:hover {
    background-color: #4700D8;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
}
.logregister1 {
    display: block;
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
}
.logregister2 {
    color:#413955;
    text-decoration: underline;
}
.logregister2:visited {
    color:#413955;
}
