@charset "UTF-8";

body {
    background-color: #292929;
    margin: 0;
}


/* Navigation Bar Styles */

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #141414;
    height: 70px;
    justify-content: space-between;
}
.logo {
    margin-left: 15px;
    padding: 12px;
}
.button1 {
    display: block;
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 25px;
    margin-top: 17px;
    margin-left: 15px;
    font-family: monospace;
    font-size: 18px;
    font-weight: 800;
    background-color: #141414;
    color: #B0E090;
}
.button1:hover {
    background-color: #1F1F1F;
    box-shadow: 0 0 12px #8EBCCC;
    transition: 0.3s;
}
.button1:last-of-type {
    width: 120px;
    margin-right: 15px;
}


/* Login Prompt Message Styles */

.login {
    display: flex;
    position: fixed;
    width: 100%;
    top: 70px;
    background-color: #0A0A0A;
    height: 40px;
    justify-content: space-between;
}
.logintext {
    color: #CCCCCC;
    font-family: monospace;
    font-size: 12px;
    text-indent: 20px;
}
.button2 {
    height: 26px;
    width: 70px;
    margin-right: 15px;
    margin-top: 7px;
    border: none;
    background-color: #1F1F1F;
    color: #C2C2C2;
    border-radius: 5px;
    font-family: monospace;
}
.button2:hover {
    background-color: #333333;
    color: #E0E0E0;
}
.button2:last-of-type {
    margin-right: 20px;
}

/* NavBar and Login Prompt Button Setting */
.buttonset1, .buttonset2 { display: flex; }


/* Footer Styles */

.fixedfooter {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    background-color: #141414;
    text-align: center;
    height: 60px;
}
.nonfixedfooter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #141414;
    text-align: center;
    height: 60px;
}
.socials {
    height: 35px;
    margin-top: 12px;
    margin-right: 20px;
}
.copyright {
    color: #FFFFFF;
    font-family: monospace;
    font-size: 13px;
    padding: 11px 20px;
}


/* Reomve Focus Outline for Input Boxes */
input:focus{outline: none;}


/* Login Page Styles */

.loginbox {
    display: block;
    height: 470px;
    width: 400px;
    background-color: #181818;
    margin: 120px auto;
    border-radius: 10px;
}
.login1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #E0E0E0;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 24px;
}
.detail1 {
    display: block;
    color: #999999;
    font-family: sans-serif;
    text-indent: 40px;
    font-size: 14px;
    font-weight: 600;
}
.detail2 {
    display: block;
    width: 340px;
    height: 40px;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 20px;
    background-color: #0A0A0A;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 18px;
}
.detail2:hover {
    background-color: #000000;
}
.forgotpw {
    display: block;
    margin-top: -10px;
    color:#999999;
    font-family: sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.forgotpw:visited {
    color:#999999;
}
.loginbutton {
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 800;
    background-color: #B0E090;
    color: #244012;
}
.loginbutton:hover {
    background-color: #ABCCD8;
    color: #1A3038;
    box-shadow: 0 0 12px #3A6C7E;
    transition: 0.3s;
}
.logregister1 {
    display: block;
    color:#999999;
    font-family: sans-serif;
    text-align: center;
    margin-top: 60px;
    font-size: 14px;
}
.logregister2 {
    color:#C2C2C2;
}
.logregister2:visited {
    color:#C2C2C2;
}



/* SignUp Page Styles */

.signupbox {
    display: flex;
    height: 470px;
    width: 800px;
    background-color: #181818;
    margin: 120px auto;
    border-radius: 10px;
}
.signupnote {
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 180px 30px;
    color: #c2c2c2;
    border-right: 2px solid #363636;
}
.brand1 {color: #80B3C6;}
.brand2 {color: #B0E090;}

.signupdetail {
    display: block;
    margin: 70px 30px;
}
.detail3 {
    display: block;
    color: #8a8888;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-indent: 10px;
}
.detail4 {
    display: block;
    width: 340px;
    height: 40px;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 18px;
}
.detail4:hover {
    background-color: #050505;
}
.signupbuttondiv {
    display: block;
    padding: 195px 40px;
    border-left: 2px solid #363636;
    margin: 20px 0;
}
.signupbutton {
    display: block;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 800;
    background-color: #B0E090;
    color: #244012;
}
.signupbutton:hover {
    background-color: #ABCCD8;
    color: #1A3038;
    box-shadow: 0 0 12px #3A6C7E;
    transition: 0.3s;
}



/*  */