@charset "UTF-8";

.contactbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    height: 680px;
    width: 1000px;
    background-color: #27241D;
    margin-left: auto;
    margin-right:  auto;
    margin-top: 120px;
    margin-bottom: 80px;
    border-radius: 10px;
}
.contactbox label {
    display: block;
    font-family: 'OutfitR';
    font-size: 18px;
    text-indent: 20px;
}
.contactbox label p {
    margin-bottom: 8px;
    margin-top: 30px;
}
.contactbox input {
    background-color: #423D33;
    width: 430px;
    height: 40px;
    border-radius: 8px;
    border: none;
    text-indent: 20px;
    font-family: 'OutfitL';
    font-size: 17px;
    color: #FFFFFF;
}

.subject input {
    width: 930px;
}
.detail {
    width: 930px;
}
textarea {
    background-color: #423D33;
    width: 930px;
    height: 140px;
    border-radius: 8px;
    border: none;
    text-indent: 10px;
    padding: 10px;
    font-family: 'OutfitL';
    font-size: 17px;
    color: #FFFFFF;
    resize: none;
}

.contactbox button {
    display: block;
    margin-left: 760px;
    margin-top: 20px;
    width: 100px;
    height: 35px;
    font-family: 'OutfitEB';
    color: #FFFFFF;
    background-color: #7445C4;
    font-size: 18px;
    border-radius: 8px;
    border: none;
}
.contactbox button:hover {
    background-color: #46277C;
    cursor: pointer;
}


.contactbottom {
    font-family: 'OutfitL';
    color: #C1BBAE;
    margin-top: 40px;
    padding: 0 40px;
    display: flex;
    width: 900px;
    height: 50px;
    justify-content: space-between;
}



@media screen and (max-width: 1200px) {
    .contactbox {
        width: 520px;
        height: 980px;
    }
    .subject input {
        width: 450px;
    }
    .detail, textarea {
        width: 450px;
    }
    .contactbox button {
        margin-left: 280px;
    }
    .contactbottom {
        display: block;
        text-align: center;
        height: 160px;
    }
    #devider {
        display: none;
    }
}