@charset "UTF-8";

.imagecontainer {
    display: block;
    height: 560px;
    width: 1500px;
    position: absolute;
    top: 0; bottom: 80px; left: 0; right: 0; 
    margin: auto;
    border-radius: 10px;
    overflow-y: scroll;
}
.imagecontainer::-webkit-scrollbar {
    display: none;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 1500px;
    position: absolute;
    top: 0; bottom: 80px; left: 0; right: 0; 
    margin: auto;
    margin-top: 0;
}
.images img {
    height: 275px;
    border-radius: 10px;
}