@charset "UTF-8";

/* Custom Fonts */
@font-face {font-family: OutfitEB; src: url('Outfit/Outfit-ExtraBold.ttf');}
@font-face {font-family: OutfitSB; src: url('Outfit/Outfit-SemiBold.ttf');}
@font-face {font-family: OutfitB; src: url('Outfit/Outfit-Bold.ttf');}
@font-face {font-family: OutfitR; src: url('Outfit/Outfit-Regular.ttf');}
@font-face {font-family: OutfitL; src: url('Outfit/Outfit-Light.ttf');}
@font-face {font-family: OutfitEL; src: url('Outfit/Outfit-ExtraLight.ttf');}

@font-face {font-family: Handwritten; src: url('Outfit/Handwritten007.ttf');}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator {
  margin-right: 12px;
  border-radius: 4px;
  background-color: #CBD2D9;
}

/* Reomve Focus Outline for Input Boxes */
input:focus {
    outline-color: #504A40;
    outline-style: groove;
}



body {
    margin: 0;
    background-color: #121212;
/*    background-image: url("SRC/patternpad.svg");
*/
    color: #FFFFFF;
}
a {
    text-decoration: none;
}


/* Navigation Bar Styles */

#mininavbar {
    display: none;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 50px;
    background-color: rgba(59, 59, 59, 0.9);
    position: fixed;
    top: 70px;
}
#mininavbar button {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    font-family: 'OutfitEB';
    font-size: 18px;
    color: #FFFFFF;
}
#mininavbar button:hover {
    color: #FF6D28;
    cursor: pointer;
}


.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(29, 39, 29, 0.9);
    height: 70px;
    justify-content: space-between;
}
.mainlogo {
    margin-left: 100px;
    padding: 9px;
    cursor: pointer;
    height: 52px;
    width: fit-content;
}
#line3 {
    display: none;
    border-radius: 0;
    height: 20px;
    width: fit-content;
    margin-top: 6px;
}
.buttonset1 button {
    display: block;
    border: none;
    font-family: 'OutfitEB';
    font-size: 20px;
    color: #FFFFFF;
    background-color: transparent;
}
.buttonset1 button:hover {
    border-bottom: 3px solid #FF6D28;
    color: #FF6D28;
    cursor: pointer;
}

.buttonset1 img {
    display: block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
    margin-top: -12px;
}
.buttonset1 img:hover {
    opacity: 0.7;
    transition: 0.2s;
}

.buttonset1 {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    width: 540px;
    margin-right: 100px;
}



/* Login Prompt Message Styles */

.login {
    display: flex;
    position: fixed;
    width: 100%;
    right: 140px;
    top: 70px;
    background-color: transparent;
    height: 40px;
    justify-content: flex-end;
}
.login button {
    height: 26px;
    width: 70px;
    margin-top: 7px;
    border: none;
    background-color: #A39E93;
    font-family: 'OutfitR';
}
.login button:hover {
    background-color: #303F9F;
    color: #FFFFFF;
    cursor: pointer;
}





/* Main Image */

.mainimage {
    width: 100%;
    display: block;
    margin-top: 70px;
}

/* Description Text */

.description {
    padding: 0 40px;
    padding-bottom: 200px;
    font-family: 'OutfitL';
    font-size: 26px;
    text-align: center;
}
.description span {
    font-size: 42px;
}


.home1, .home2 {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
}
.home1 img {
    width: 340px; height: fit-content;
    margin-right: 100px;
}
.home1 p, .home2 p {
    font-family: 'Handwritten';
    line-height: 50px;
    font-size: 46px;
    margin-top: auto;
    margin-bottom: auto;
}

.home2 img {
    width: 560px;  height: fit-content;
    margin-left: 100px;
}

.home3 {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Handwritten';
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    width: 75%;
    padding: 10px 50px;
}
.home3 a {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 40px;
    background-color: #A39E93;
    color: #121212;
    width: 240px;
    padding: 10px 0;
    font-family: 'OutfitEB';
    font-size: 36px;
}
.home3 a:hover {
    background: rgb(255,109,40);
    background: linear-gradient(90deg, rgba(255,109,40,1) 33%, rgba(0,159,189,1) 100%);
    box-shadow: 0 0 40px #A39E93;
}

.home4 {
    background-color: #102A43;
    border-radius: 80px;
    margin-top: 250px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'OutfitB';
    font-size: 36px;
    text-align: center;
    width: 60%;
    padding: 40px 50px;
}
.home4 p {
    font-family: 'OutfitR';
    font-size: 28px;
}

/* Contact Us Button */

.contactus {
    display: block;
    position: fixed;
    width: 86px;
    height: 46px;
    right: 140px;
    bottom: 12px;
    font-family: 'OutfitEB';
    font-size: 15px;
    line-height: 14px;
    border: none;
    border-radius: 16px;
    background-color: #FFE380;
}
.contactus:hover {
    background-color: #FFAB00;
    cursor: pointer;
    transition: 0.2s;
}


/* Footer */

footer {
    display: inline-block;
    width: 100%;
    background-color: #27241D;
    text-align: center;
}

.topfooter {
    display: flex;
    justify-content: space-between;
    background-color: #423D33;
    height: 110px;
    padding: 20px 120px;
}
.devider {
    background-color: #c5c5c5;
    width: 1px;
}

.bottomnavbar button {
    display: block;
    width: 100px;
    text-align: center;
    margin: 7px 0;
    font-family: 'OutfitR';
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
}
.bottomnavbar button:hover {
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
}

.payoptions {
    font-family: 'OutfitR';
    font-size: 16px;
}
.payoptions p {
    margin-top: 0;
}
.payments {
    margin-top: -5px;
    display: inline-block;
    width: 280px;
}
.payments img {
    width: 45px;
    margin: 2px 5px;
    cursor: pointer;
    border-radius: 6px;
}

.footerdesc {
    display: block;
    width: 400px;
    font-family: 'OutfitL';
    font-size: 14px;
    margin: auto 0;
}

.contacts {
    font-family: 'OutfitL';
    font-size: 14px;
    line-height: 24px;
}
.contacts p {
    font-family: 'OutfitR';
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 2px;
}

.socialscontainer {
    display: inline-block;
    width: 100px;
}
.socialscontainer img {
    height: 35px;
    margin: 5px;
    cursor: pointer;
}

.qr {
    display: block;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    cursor: pointer;
}

.copyright {
    font-family: 'OutfitL';
    font-size: 13px;
    text-align: center;
    color: white;
    bottom: 0;
}










@media screen and (max-width: 1700px) {
    .footerdesc {
        display: none;
    }
    #devider1 {
        display: none;
    }
    .home1 img {
        width: 300px;
        margin-right: 100px;
    }
    .home2 img {
        width: 440px;
        margin-left: 100px;
    }
}

@media screen and (max-width: 1300px) {
    .qr {
        display: none;
    }
    .socialscontainer {
        display: flex;
        width: 180px;
    }
    .home1, .home2 {
        display: block;
    }
    .home1 img {
        margin-bottom: 40px;
        width: 400px;
    }
    .home2 img {
        margin-top: 40px;
    }
}
@media screen and (max-width: 1100px) {
    .bottomnavbar {
        display: none;
    }
    #devider2 {
        display: none;
    }
    .buttonset1 {
        width: 200px;
    }
    .buttonset1 button {
        display: none;
    }
    #line3 {
        display: block;
    }
}
@media screen and (max-width: 980px) {
    .contacts {
        display: none;
    }
    .contactus {
        right: 100px;
    }
    #devider3 {
        display: none;
    }
}


@media screen and (min-width: 1100px) {
    #mininavbar {
        visibility: hidden;
    }
}
