@charset "UTF-8";

/* Schedule page Styles */
table {
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
td, th {
    border: none;
    background-color: #515151;
    width: 160px;
    height: 40px;
    text-align: center;
    font-family: 'OutfitR';
    font-size: 16px;
}
th {
    height: 50px;
    background-color: #CBB279;
    color: #000000;
    font-size: 18px;
    font-family: 'OutfitEB';
}
.back {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.back button {
    width: 30px;
    height: 30px;
    margin-left: 80px;
    background-color: #FF6D60;
    font-family: 'OutfitEB';
    font-size: 22px;
    border: none;
    border-radius: 50%;
}
.back button:hover {
    background-color: #ED2B2A;
    cursor: pointer;
    box-shadow: 0 0 10px #FF6D60;
}
.back a {
    margin-right: 80px;
    color: #BDBDBD;
    font-family: 'OutfitL';
    text-decoration: underline;
    margin-top: 20px;
    cursor: pointer;
}