@charset "UTF-8";

/* Signup page Styles */
.signupbox {
    display: block;
    height: 600px;
    width: 480px;
    background-color: #27241D;
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0; 
    margin: auto;
    border-radius: 10px;
}
.back {
    display: block;
    font-family: 'OutfitEB';
    padding: 4px;
    width: 60px;
    text-indent: 8px;
    font-size: 14px;
    margin: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: none;
    background-color: #D94545;
    color: #FFFFFF;
}
.back:hover {
    background-color: #981F1F;
    cursor: pointer;
}
.signupnote {
    display: block;
    text-align: center;
    font-family: 'OutfitEB';
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 40px;
}
.brand1 {color: #FF6D28;}
.brand2 {color: #009FBD;}
.name {
    display: flex;
    justify-content: space-around;
    padding: 0 25px;
}
.name input {
    width: 200px;
}
.name label {
    text-indent: 13px;
}
.detail3 {
    display: block;
    font-family: 'OutfitB';
    text-indent: 40px;
    font-size: 14px;
    font-weight: 600;
}
.detail4 {
    background-color: #423D33;
    color: #FFFFFF;
    display: block;
    width: 420px;
    height: 40px;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    text-indent: 10px;
    font-size: 18px;
}
.detail4::placeholder {
    font-size: 16px;
}
#check {
    border-bottom: 6px solid transparent;
    height: 34px;
}
.signupbutton {
    display: block;
    margin: 50px auto;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 800;
    background-color: #FF6D28;
    color: #FFFFFF;
}
.signupbutton:hover {
    background-color: #009FBD;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
}